.about-us-page .logo-1 {
    background: url('../../assets/images/logo2.jpeg') 50% / cover no-repeat;
    margin-bottom: 42.1px;
    width: 108px;
    height: 109px;
    z-index: 1;
}

.about-us-page a{
    text-decoration: none;
}

.about-us-page .home {
    margin: 5px 29.9px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    z-index: 1;
}

.about-us-page .about-us {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    z-index: 1;
}

.about-us-page .about-active {
    background: #3D76AF;
    position: relative;
    margin-right: 29px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px 7.3px 5px 8px;
    box-sizing: border-box;
    z-index: 1;
}

.about-us-page .grievance {
    margin: 5px 32.4px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    z-index: 1;
}

.about-us-page .services {
    margin: 5px 32.8px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    z-index: 1;
}

.about-us-page .governing-body {
    margin: 5px 32.3px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    z-index: 1;
}

.about-us-page .gallery {
    margin: 5px 32.1px 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    z-index: 1;
}

.about-us-page .contact-us {
    margin: 5px 0 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    z-index: 1;
}

.about-us-page .about-navbar-link {
    margin-bottom: 33px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.about-us-page .vector {
    transform: rotate(4.52deg);
    width: 33.4px;
    height: 38px;
}

.about-us-page .about-phone-svg {
    transform: rotate(18.253deg);
    margin-right: 4.7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.4px;
    height: 38px;
    box-sizing: border-box;
}

.about-us-page .about-phone-number {
    margin: 4px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    z-index: 1;
}

.about-us-page .about-phone {
    margin: 9px 38.2px 9px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.about-caption{
    margin-left: 54px;
    margin-right: 65px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    color: #FFFFFF; 
    text-align: center;
    width: 900px;
    z-index: 1;
    padding-top: 20px;
}

.about-us-page .about-donatebtn {
    background: #145A98;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 13px 18px 12px 18px;
    box-sizing: border-box;
    color:#FFFFFF;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    overflow-wrap: break-word;
    border: none;
}

.about-us-page .container {
    margin: 0 0px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.about-us-page .about-navbar {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
}

.about-us-page .about-container {
    margin-bottom: 570.9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1374px;
    box-sizing: border-box;
}

.about-us-page .about-heading {
    margin-right: 5.2px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: -210px;
    z-index: 1;
}

.about-us-page .about-upper {
    background: url('../../assets/images/rectangle41.png') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
    position: relative;
    margin-bottom: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 35px 80px 31px;
    width: 100%;
    box-sizing: border-box;
    max-height: 100vh;
}

.about-us-page .about-upper::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 1px;
    /* z-index: -1; */
  }

.about-us-page .our-story-heading {
    margin: 0 10.1px 30px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 35px;
    color: #145A98;
}

.about-us-page .our-story-caption {
    margin: 0 1px 47px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 27px;
    color: #3D76AF;
    width: 1350px;
}

.about-us-page .rectangle-7 {
    background: url('../../assets/images/rectangle71.png') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
    margin-right: 113px;
    width: 493px;
    height: 497px;
}

.about-us-page .rectangle-9 {
    background: url('../../assets/images/rectangle91.png') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
    position: relative;
    width: 493px;
    height: 497px;
}

.about-us-page .container-image-2 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 1099px;
    box-sizing: border-box;
}

.about-us-page .rectangle-8 {
    background: url('../../assets/images/rectangle81.png') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
    position: absolute;
    left: 267px;
    bottom: 51px;
    width: 493px;
    height: 497px;
}

.about-us-page .rectangle-10 {
    background: url('../../assets/images/rectangle101.png') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 493px;
    height: 497px;
}

.about-us-page .our-story-section {
    position: relative;
    margin: 0 58px 129px 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 376px;
    width: fit-content;
    box-sizing: border-box;
}

.about-us-page .our-values-container-images {
    border-radius: 503.5px;
    position: absolute;
    right: 120px;
    bottom: 132px;
    width: 1007px;
    height: 1007px;
}

.about-us-page .our-values-heading {
    margin: 0 0 93px 60px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 35px;
    color: #145A98;
}

.about-us-page .dreaming-about-future-occupation {
    background: url('../../assets/images/dreamingAboutFutureOccupation.png') 50% / contain no-repeat;
    position: absolute;
    left: 0px;
    bottom: 341px;
    width: 468px;
    height: 468px;
}

.about-us-page .educational-video-for-online-education {
    background: url('../../assets/images/educationalVideoForOnlineEducation.png') 50% / contain no-repeat;
    position: absolute;
    top: 0px;
    right: 341px;
    width: 499px;
    height: 499px;
}

.about-us-page .playing-basketball {
    background: url('../../assets/images/playingBasketball.png') 50% / contain no-repeat;
    position: absolute;
    right: 0px;
    bottom: 347px;
    width: 456px;
    height: 456px;
}

.about-us-page .compassion-section {
    position: relative;
    margin: 0 0 171px 0px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 35px;
    color: #145A98;
}

.about-us-page .our-values-section {
    margin: 0 0 124px 0px;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 35px;
    color: #145A98;
    width: 230px;
}

.about-us-page .empowerment-section {
    position: relative;
    margin-right: 24px;
    width: 791px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 35px;
    color: #145A98;
}

.about-us-page .integrity-section {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 35px;
    color: #145A98;
    margin-right: 115px;
}

.about-us-page .empowerment-integrity-section {
    margin-bottom: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1174.1px;
    box-sizing: border-box;
}

.about-us-page .team-working-on-aproject-together {
    background: url('../../assets/images/teamWorkingOnAprojectTogether.png') 50% / contain no-repeat;
    margin-left: 31.9px;
    width: 434px;
    height: 295px;
}

.about-us-page .our-values-container-images-without-caption {
    position: relative;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 459px 51.9px 0 50px;
    width: 1276px;
    box-sizing: border-box;
}

.about-us-page .collaboration-section {
    margin-left: 40px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 35px;
    color: #145A98;
}

.about-us-page .our-values-caption {
    position: absolute;
    top: 78px;
    right: 180px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 27px;
    color: #3D76AF;
    width: 875px;
}

.about-us-page .our-values-container {
    position: relative;
    margin: 0 85px 128px 79px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1276px;
    box-sizing: border-box;
}

.about-us-page .rectangle-26 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), #145A98);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}

.about-us-page .get-involved-heading {
    position: relative;
    margin: 0 0.9px 30px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 35px;
    color: #FFFFFF;
}

.about-us-page .get-involved-caption {
    position: relative;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 27px;
    color: #FFFFFF;
    width: 1050px;
}

.about-us-page .get-involved-section {
    background: url('../../assets/images/rectangle25.png'), linear-gradient(#D9D9D9, #D9D9D9);
    position: relative;
    margin-bottom: 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 458px 0 67px 0;
    width: 100%;
    box-sizing: border-box;
}

.about-us-page .logo-2 {
    background: url('../../assets/images/logo2.jpeg') 50% / cover no-repeat;
    margin: 0 58px 39px 58px;
    align-self: flex-start;
    width: 108px;
    height: 109px;
}

.about-us-page .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-lorem-ipsum-dolor-sit-amet-consectetur-adipiscin-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua {
    margin: 4px 88.6px 0 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.8);
}

.about-us-page .lorem-ipsum {
    margin-bottom: 2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-1 {
    margin-bottom: 2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-2 {
    margin-bottom: 2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-3 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-4 {
    margin-bottom: 4px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-5 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .about-donatebtn1 {
    margin: 2px 77.3px 44px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.about-us-page .lorem-ipsum-dolor {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-1 {
    position: absolute;
    left: 50%;
    top: 30px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-2 {
    position: absolute;
    left: 50%;
    top: 60px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-3 {
    position: absolute;
    left: 50%;
    bottom: 60px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-4 {
    position: absolute;
    left: 50%;
    bottom: 31px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-5 {
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .about-donatebtn0 {
    position: relative;
    margin: 0 76.7px 96px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 188px;
    box-sizing: border-box;
}

.about-us-page .lorem-ipsum-dolor-6 {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-7 {
    position: absolute;
    left: 50%;
    top: 30px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-8 {
    position: absolute;
    left: 50%;
    top: 60px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-9 {
    position: absolute;
    left: 50%;
    bottom: 60px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-10 {
    position: absolute;
    left: 50%;
    bottom: 31px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .lorem-ipsum-dolor-11 {
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #FFFFFF;
}

.about-us-page .group-19 {
    position: relative;
    margin-bottom: 96px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 188px;
    box-sizing: border-box;
}

.about-us-page .about-phone-number {
    /* margin: 0 54.7px 19px 58px; */
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.about-us-page .ellipse-19 {
    position: relative;
    margin: 7.1px 12.6px 0 0;
    width: 34.4px;
    height: 35.4px;
}

.about-us-page .lorem-ipsum-6 {
    margin: 9px 8.5px 5.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

.about-us-page .image-5 {
    background: url('../../assets/images/image5.png') 50% / cover no-repeat;
    margin: 0 12px 4.5px 0;
    width: 39px;
    height: 38px;
}

.about-us-page .lorem-ipsum-7 {
    margin: 9px 10.5px 5.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
}

.about-us-page .image-6 {
    background: url('../../assets/images/image6.png') 50% / cover no-repeat;
    margin: 0 9px 4.5px 0;
    width: 38px;
    height: 38px;
}

.about-us-page .about-donate-section {
    margin: 9px 0 5.5px 0;
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;

}

.about-us-page .email-2 {
    background: url('../../assets/images/email1.png') 50% / cover no-repeat;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 35.8px;
    height: 35.8px;
}

.about-us-page .group-18 {
    position: relative;
    margin: 0 54.9px 33.5px 54.9px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding: 0 0 0px 1px;
    width: fit-content;
    box-sizing: border-box;
}

.about-us-page .line-1 {
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 26px;
    width: 100%;
    height: 1px;
}

.about-us-page .copyright-2024-comapny {
    margin-right: 12px;
    width: 1056.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.about-us-page .powered-by-take-tech-devs {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.powered-by-take-tech-devs-sub67 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.333;
}

.powered-by-take-tech-devs {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.333;
    color: #321910;
}

.about-us-page .container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.about-us-page .about-donatebtn2 {
    background: #145A98;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px 0 22px 0;
    width: fit-content;
    box-sizing: border-box;
}

.about-us-page {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
}

.circle {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: 8px dashed #82a8c8;
    margin-top: 130px;
}