.home-page .upper-section {
    position: relative;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.navbar-section {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 3%
}

.logo-1 {
    background: url(../../assets/images/logo2.jpeg) 50%/cover no-repeat;
    width: 90px;
    height: 85px
}

.navbar {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.navbar-link {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.navbar-link a {
    padding: 4px 15px;
}

.navbar-link a.active {
    background-color: #145A98;
    border-radius: 5px;
}

.navbar-link .home-active {
    background: #3d76af
}

.navbar-link a {
    font-family: Inter;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.donate-section {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 15px;
}

.phone {
    display: flex;
    align-items: center;
}

.phone-svg {
    transform: rotate(18.253deg);
    margin-right: 4.7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.4px;
    height: 38px;
}

.phonesvg {
    transform: rotate(314deg);
    width: 22px;
    height: 30px
}

.donatebtn {
    border-radius: 5px;
    background: #145a98;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 20px;
    color: #fff;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.home-page .hamburger-menu {
    display: none;
    /* Hide hamburger menu on larger screens */
  }
  
  .side-panel {
    display: none;
  }

@media only screen and (max-width: 991px) {
    .donate-section {
        display: flex;
        flex-direction: row;
        align-items: center
    }
}

@media only screen and (max-width: 767px) {
    .donatebtn {
        font-size: 12px;
        padding: 6px 12px;
    }

    .logo-1 {
        width: 62px;
        height: 57px;
    }

    .phone .navbar {
        font-size: 12px;
    }

    .phonesvg {
        width: 15px;
        height: 18px;
    }

    .phone-svg {
        margin-inline-end: -8px;
    }

    /* .navbar-link a {
          font-size: 14px;
        } */

    .donate-section {
        gap: 8px;
    }

    .home-page .navbar-link {
        display: none;
    }

    .home-page .navbar-section {
        /* flex-direction: column;
            align-items: flex-start; */
        /* Align items to the left */
        /* margin-bottom: 20px; */
        padding-right: 50px;
    }

    .home-page .hamburger-menu {
        display: block;
        position: absolute;
        top: 20px;
        /* Adjust the distance from the top */
        right: 20px;
        /* Adjust the distance from the right */
        cursor: pointer;
    }

    .side-panel {
        display: block;
        position: fixed;
        top: 0;
        right: -250px;
        /* Initially hide the side panel */
        width: 250px;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease;
        z-index: 1000;
    }

    .side-panel.open {
        right: 0;
    }

    .side-panel-content {
        padding: 20px;
    }

    .side-panel-content a {
        display: block;
        margin-bottom: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    .close-button {
        font-size: 30px;
        background: none;
        border: none;
        color: #fff;
        align-self: flex-end;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 1100;
    }
}