footer {
  background: #3D76AF;
  display: flex;
  padding-block: 40px;
  padding-inline: 3%;
  width: 100%;
  gap: 90px;
  color: #fff;
  font-size: 14px;
}

.footer-logo {
  display: flex;
  width: 100px;
  height: 100px;
  margin-block-end: 20px;
}

.footer-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.line-1 {
  background: rgba(255, 255, 255, .5);
  margin-bottom: 26px;
  width: 100%;
  height: 1px
}

.footer-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-links ul,
.footer-links ol {
  list-style: none;
}

.footer-links ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin-block-end: 4px;
  display: block;
}

.footer-links ul li:hover a {
  text-decoration: underline;
}

.footer-links ol {
  display: flex;
  gap: 15px;
  margin-block-start: 16px;
}

.footer-links ol li {
  height: 30px;
  width: 30px;
}

.footer-links ol li img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.copyright {
  background-color: #145A98;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #fff;
  padding-block: 10px;
  padding-inline: 3%;
}

.copyright p span {
  color: #000;
}

@media only screen and (max-width: 991px) {
  footer {
    gap: 40px;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    flex-direction: column;
    gap: 20px;
    padding-block: 20px;
  }

  .footer-logo {
    height: 67px;
  }

  .footer-description {
    display: flex;
  }

  .footer-logo {
    margin-inline-end: 16px;
    margin-block-end: 0px;
  }

  .footer-links ol {
    flex-direction: column;
    align-items: end;
  }

  .copyright {
    font-size: 9px;
    padding-block: 8px;
  }
}