.our-service {
    margin-block: 30px;
    padding-inline: 5%;
}

.image-gallery {
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
}



.image-grid {
   display: flex; flex-wrap: wrap; list-style: none; gap: 40px;padding-inline: 10%;
}

.image-grid li{
   position: relative;
    width: calc((100% - 80px) / 3);
    
}
.image-grid li .image-box{ position: relative;   width: 100%;
    height: 250px;}
.image-grid li .image-box:after{content: ''; position: absolute; right: -15px; bottom: -15px; height: 100%; width: 100%; border-radius: 20px; background-color: #3d76af44; z-index: -1;}

.image-grid li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
}

.service-name {
    margin-top: 30px;
   
    font-weight: 300;
    color: #3D76AF;
}

.dropdown {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #000000b7;
    z-index: 1;
    padding: 10px;
    width: 100%
  }
  .dropdown p{color: #fff;font-weight: 600; text-align: center;}


@media only screen and (max-width: 1024px) {
  .image-grid li{position: relative;width: calc((100% - 40px) / 2);}

}

@media only screen and (max-width: 991px) {

.image-grid li .image-box{height: 150px;}
}
@media only screen and (max-width: 575px) {
    .image-grid{gap: 10px;padding-inline: 0%;}
    .image-grid li{position: relative;width: 100%;}
 }